html, body, main {
    width: 100%;
    height: 100%;
    background-color: black;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* neon shadow border, might add might not */
    /* box-shadow: inset 0 0 20px #CD0000, /* Inner shadow for neon border */
    /*                  0 0 20px; /* Outer glow */
}

/* Custom scrollbar styles for WebKit browsers */
::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #3b3b3b; /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners */
    height: 10px; /* Height of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #F00; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
    height: 40px; /* Height of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #a10000; /* Color when hovering over the thumb */
}

 /* Removes any default margin and padding */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

 /* removes arrow from summaries */
summary {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
details {
    display: inline-block;
    max-height: 0px;
}   
  
/* Container for aligning items in row */
.new-alarm-container {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 101px;
    height: 20px;
    border-radius: 5px;
    border: 4px solid #F00;
    background: #A70000;
    box-shadow: 3px 2px 4px 0px #CD0000;
    font-weight: 400;
    cursor: pointer;
    color: white;
    margin-left: 350px;
    margin-top: 100px;
    font-family: 'Inter', sans-serif;
    transition: transform 0.3s ease;
}
.new-alarm-container:hover{ /*animation on hover */
    transform: scale(1.1);
}
/* + text alignment for alarm new alarm button */
.alarmplus { 
    transition: transform 0.3s ease;
    color: white; 
    margin-top: 109px; 
    margin-left: 10px;
}

/* Side panel image styles */
.side-panel-img {
    font-size: 16px;
    cursor: pointer;
    width: 35px;
    height: 25px;
    margin: 10px 10px;
    transition: opacity 0.5s; /* Smooth transition for opacity */
    position: absolute;
}
.side-panel-img:hover { /* animation on hover */
    transform: scale(1.1);
}
/* Side panel default styles */
.side-panel {
    height: 100%; /* Full height */
    width: 0; /* Start with panel hidden */
    position: fixed; /* Stay in place */
    top: 0;
    left: 0;
    background-color: #111; /* Black background */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: width 0.5s ease; /* Smooth width transition */
    padding-top: 60px; /* Padding at the top */
    box-shadow: 3px 0 10px rgba(0,0,0,0.5);
    filter: drop-shadow(4px 0px 4px rgba(255, 0, 0, 0.50));
}
/*targets the text inside the side panels */
.side-panel h2, .side-panel p {
    color: white;
    padding: 10px 20px;
}

/* Close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    text-decoration: none;
    color: white;
    transition: transform 0.3s;
}
.close-btn:hover { /* animation on hover */
    color: #f1f1f1;
    transform: scale(1.2);
}

/* side panel width when opened */
.side-panel.open {
    width: 250px; /* Adjust the width as needed */
}

/* adds animation for smooth sliding */
#mainContent {
    transition: margin-left 0.5s ease;
}

/* Push the main content to the right when the sidebar is open */
.main-content-pushed {
    margin-left: 250px;
}   

/* Hide the side panel image when the panel is open */
.side-panel-img.hidden {
    opacity: 0; 
}

/* Disables the button and hide it */
.side-panel-img.disabled {
    opacity: 0;
    visibility: hidden;
}

/* Sidebar menu options div for each button */
.sidebar-menu-container {
    width: 100%;
    color: white;
    border-radius: 5px;
}

/* Targets the p next to the container */
.sidebar-menu-container p {
    font-size: 15px;  
}

/* Changes the color and the cursor */
.sidebar-menu-container:hover {
    background-color: #313131;
    cursor: pointer;
}

/* design for the building container */
.building-container {
    border-radius: 10px;
    border: 1px solid #F00;
    background: #5D0000;
    box-shadow: 4px 4px 4px 0px rgba(205, 0, 0, 0.75);
    width: 500px;
    height: 600px;
    margin-left: 170px;
    margin-top: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* hides scrollbar inside the container and "disables" the width to avoid pushing elements */
.building-container::-webkit-scrollbar {
    visibility: hidden;
    width: 0px;
}

/* box container for building container name */
.building-name {
    display: flex;
    width: 250px;
    height: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color:#bababa;
    color: white;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}

/* text input styling for building container name */
.building-name-input {
    background: none;
    border: none;
    color: white;
    outline: none;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
/* changes the color of the text placeholder */
.building-name-input::placeholder {
    color: white;
    font-family: 'Inter', sans-serif;
}

/* styling for add floor container */
.add-floor-container {
    color: white;
    display: flex;
    align-items: center;
    padding: 5px;
    width: 56px;
    height: 10px;
    border-radius: 5px;
    border: 4px solid #F00;
    background: #A70000;
    box-shadow: 3px 2px 4px 0px #CD0000;
    font-weight: 400;
    cursor: pointer;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    align-self: center;
    margin-left: 10px;
    margin-top: 5px;
}

/*  palette icon styling inside the container (maybe a feature for changing colors) */
.delete-building-button {
    margin-top: 3px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 100%;
    font-size: 35px;
}

/* edit button styling for floor name */
.edit-button {
    width: 20px;    
    height: 20px;
    border-radius: 25%;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 5px;
    cursor: pointer;
}

/* style for floor names and an "underline" */
.floors {
    border-bottom:  3px solid #8D8D8D;;
    margin-top: 40px;
    border-radius: 1px;
}

/* floor name text styling */
.floor-name {
    color: white;
    text-align: center;
    width: 100%;
    font-weight: 100; 
    font-size: 17px; /* Match the font size for editing mode and non editing mode */
    font-family: 'Inter', sans-serif;
}

/* editing mode for floor name */
.floor-name-input {
    background: none;
    border: none;
    color: white;
    outline: none;
    text-align: center;
    font-family: 'Inter', sans-serif;
    width: 100%; 
    font-weight: 100;
    font-size: 16px; /* Match the font size */
}

/* div for keeping the alarms in their own floors */
.floor-division {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
    flex: 1;
}

/* styling for adding an alarm */
.add-alarm-container {
    color: white;
    display: flex;
    align-items: center;
    padding: 5px;
    width: 61px;
    height: 10px;
    border-radius: 5px;
    border: 4px solid #F00;
    background: #A70000;
    box-shadow: 3px 2px 4px 0px #CD0000;
    font-weight: 400;
    cursor: pointer;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    margin-top: 80px;
    margin-left: 60px;
}

/* alarm container styling */
.alarm-container {
    border-radius: 25px;
    border: 1px solid #F00;
    background: #5D0000;
    box-shadow: 3px 2px 4px 0px rgba(205, 0, 0, 0.50);
    width: 200px;
    height: 200px;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
    align-items: center;
    gap: 10px;
}

/* positioning and centering for alarm status */
.alarm-header-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    
}

/* alarm status when it's off */
.alarm-status-off {
    width: 10px;                
    height: 10px;               
    border-radius: 50%;         
    background-color: red;
    margin-left: 10px;
}

/* alarm status for when it's on */
.alarm-status-on {
    width: 10px;                
    height: 10px;               
    border-radius: 50%;         
    background-color: rgb(47, 255, 0);
    margin-left: 10px;
}

/* positioning for delete alarm button */
.delete-alarm-button {
    margin-top: 1px;
    cursor: pointer;
    font-size: 20px;
}

/* centers the input texts inside alarm container */
.alarm-configuration, input {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

/* hides and disables the arrow up/down button when type input="number" */
.alarm-configuration input[type="number"]::-webkit-inner-spin-button,
.alarm-configuration input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Hide the spin buttons */
    margin: 0; /* Reset margin */
}

/* alarm location styling */
.alarm-location {
    background: none;
    border: none;
    outline: none;
    color: white;
}
/* alarm location placeholder color */
.alarm-location::placeholder {
    color: white;
}

/* changes the color for refresh button */
#refreshButton {
    background-color: black;
}

/* width and height for button image */
.refresh-button {
    width: 10px;
    height: 10px;
}
